.block{

position:absolute;

/* dimensions */
--w:500px;
--h:400px;
--d:500px;

/* POSITION CONTROLS */
--x:650px;
--y:800px;
--z:-450px;

transform:
translateX(var(--x))
translateY(var(--y))
translateZ(var(--z));

transform-style:preserve-3d;

width:var(--w);
height:var(--h);

}


/* shared face styling */

.face{

position:absolute;

background:
linear-gradient(
180deg,
rgba(120,190,255,.28),
rgba(60,120,200,.22)
);

border:
1px solid rgba(120,200,255,.75);

box-shadow:
inset 0 0 50px rgba(120,200,255,.18),
0 8px 20px rgba(0,0,0,.18);

}


/* FRONT */

.front{

width:var(--w);
height:var(--h);

transform:
translateZ(calc(var(--d)/2));

}


/* BACK */

.back{

width:var(--w);
height:var(--h);

transform:
rotateY(180deg)
translateZ(calc(var(--d)/2));

}


/* LEFT */

.left{

width:var(--d);
height:var(--h);

transform:
rotateY(-90deg)
translateZ(calc(var(--d)/2));

}


/* RIGHT */

.right{

width:var(--d);
height:var(--h);

transform:
rotateY(90deg)
translateZ(calc(var(--w) - var(--d)/2));

}


/* TOP */

.top{

width:var(--w);
height:var(--d);

transform:
rotateX(90deg)
translateZ(calc(var(--d)/2));

}


/* BOTTOM */

.bottom{

width:var(--w);
height:var(--d);

transform:
rotateX(-90deg)
translateZ(calc(var(--h) - var(--d)/2));

}


/* SLOT */

.slot{

position:absolute;

left:50%;
top:50%;

transform:
translate(-50%,-50%)
translateZ(2px);

width:165px;
height:10px;

border-radius:5px;

background:
linear-gradient(
180deg,
#020304,
#0b0f14
);

box-shadow:
inset 0 3px 8px rgba(0,0,0,.95),
0 0 12px rgba(0,180,255,.08);

}


/* SLOT GLOW */

.slotGlow{

position:absolute;

left:50%;
top:50%;

transform:
translate(-50%,-50%)
translateZ(3px);

width:140px;
height:3px;

border-radius:3px;

background:
linear-gradient(
90deg,
transparent,
rgba(0,180,255,.45),
transparent
);

opacity:.35;

animation:slotPulse 3.5s ease-in-out infinite;

}


@keyframes slotPulse{

0%{opacity:.15;}
50%{opacity:.55;}
100%{opacity:.15;}

}