.block{

position:absolute;

--w:540px;
--h:560px;
--d:500px;

/* flush */

transform:

translateX(1150px)
translateY(240px)
translateZ(-450px); /* -1000 + 200 */

transform-style:preserve-3d;

width:var(--w);
height:var(--h);

}


.face{

position:absolute;

background:rgba(255,140,80,.12);

border:1px solid rgba(255,140,80,.45);

}


.front{
width:var(--w);
height:var(--h);
transform:translateZ(calc(var(--d)/2));
}

.back{
width:var(--w);
height:var(--h);
transform:rotateY(180deg) translateZ(calc(var(--d)/2));
}

.left{
width:var(--d);
height:var(--h);
transform:rotateY(-90deg) translateZ(calc(var(--d)/2));
}

.right{
width:var(--d);
height:var(--h);
transform:rotateY(90deg) translateZ(calc(var(--w) - var(--d)/2));
}

.top{
width:var(--w);
height:var(--d);
transform:rotateX(90deg) translateZ(calc(var(--d)/2));
}

.bottom{
width:var(--w);
height:var(--d);
transform:rotateX(-90deg) translateZ(calc(var(--h) - var(--d)/2));
}