.block{

position:absolute;

/* size */

--w:1050px;
--h:260px;
--d:600px;


/* POSITION CONTROLS */

--x:640px;
--y:-20px;   /* increase number to move DOWN */
--z:-400px;  /* closer to viewer */


/* apply position */

transform:

translateX(var(--x))
translateY(var(--y))
translateZ(var(--z));

transform-style:preserve-3d;

width:var(--w);
height:var(--h);

}



/* face material */

.face{

position:absolute;

background:

linear-gradient(
180deg,
rgba(140,220,255,.35),
rgba(40,120,200,.25)
);

border:1px solid rgba(120,220,255,.85);

box-shadow:

inset 0 0 50px rgba(120,200,255,.18),
0 8px 18px rgba(0,0,0,.15);

}



/* cube faces */

.front{

width:var(--w);
height:var(--h);

transform:
translateZ(calc(var(--d)/2));

}


.back{

width:var(--w);
height:var(--h);

transform:
rotateY(180deg)
translateZ(calc(var(--d)/2));

}


.left{

width:var(--d);
height:var(--h);

transform:
rotateY(-90deg)
translateZ(calc(var(--d)/2));

}


.right{

width:var(--d);
height:var(--h);

transform:
rotateY(90deg)
translateZ(calc(var(--w) - var(--d)/2));

}


.top{

width:var(--w);
height:var(--d);

transform:
rotateX(90deg)
translateZ(calc(var(--d)/2));

}


.bottom{

width:var(--w);
height:var(--d);

transform:
rotateX(-90deg)
translateZ(calc(var(--h) - var(--d)/2));

}