.block{

position:absolute;

/* dimensions */

--w:740px;
--h:1200px;
--d:1000px;

/* flush to wall */

transform:

translateX(-90px)
translateY(0px)
translateZ(-200px); 

transform-style:preserve-3d;

width:var(--w);
height:var(--h);

}


.face{

position:absolute;

background:

linear-gradient(
180deg,
rgba(140,220,255,.28),
rgba(40,120,200,.18)
);

border:

1px solid rgba(120,220,255,.8);

}


/* faces */

.front{
width:var(--w);
height:var(--h);
transform:translateZ(calc(var(--d)/2));
}

.back{
width:var(--w);
height:var(--h);
transform:rotateY(180deg) translateZ(calc(var(--d)/2));
}

.left{
width:var(--d);
height:var(--h);
transform:rotateY(-90deg) translateZ(calc(var(--d)/2));
}

.right{
width:var(--d);
height:var(--h);
transform:rotateY(90deg) translateZ(calc(var(--w) - var(--d)/2));
}

.top{
width:var(--w);
height:var(--d);
transform:rotateX(90deg) translateZ(calc(var(--d)/2));
}

.bottom{
width:var(--w);
height:var(--d);
transform:rotateX(-90deg) translateZ(calc(var(--h) - var(--d)/2));
}